.s_05{background-color: #fff;overflow: hidden;padding: 12% 7% 10% 7%;}.wr_black{position: absolute;top: 0;left: 0;z-index: 2;width: 100%;height: 0;background-color: #1a1a1a;transition: ease 1s height;}.svg250{width: 100%;height: auto;position: relative;z-index: 3;background-color: rgba(0,0,0,.0);}.wr_black_act{height: 100%;}

.num{width: 100%;height: auto;position: relative;z-index: 3;background-color: rgba(0,0,0,.0);text-align: left;
font-size: calc((100vw - 320px)/(1920 - 320) * (490 - 90) + 90px);
font-weight: 100;color: #fff;font-family: 'Montserrat',Arial,sans-serif;line-height: 1;}
.txt05{position: relative;width: 100%;max-width: 260px;right: 0;
font-size: calc((100vw - 320px)/(1920 - 320) * (18 - 14) + 14px);
color: #fff;line-height: 1.5;font-weight: 300;z-index: 4;float: right;padding-top: 30px;}

.s_04 .txt3 a{text-decoration: none;border-bottom: 1px solid #1a1a1a;transition: ease .3s all;}
.s_04 .txt3 a:hover{color: #4e28db;border-bottom: 1px solid #4e28db;text-decoration: none;}
.s_01a{background-color: #fff;
padding-top: calc((100vw - 320px)/(1920 - 320) * (160 - 60) + 60px);
padding-bottom: calc((100vw - 320px)/(1920 - 320) * (110 - 40) + 40px);}
.s_01a .item2 {max-width: 220px;padding-top: 20px;}
.s_01a .item2 a {text-decoration: none;border-bottom: 1px solid #1a1a1a;transition: ease .3s all;}
.s_01a .item2 a:hover{color: #4e28db;border-bottom: 1px solid #4e28db;text-decoration: none;}

.s_06{background-color: #fff;}
.s_06 .wr_txt{display: flex;justify-content: space-between;width: 92%;margin: 0 auto;position: relative;padding-top: 50px;padding-bottom: 50px;}
.s_06 .wr_txt:before{position: absolute;bottom: 0;left: 0;z-index: 2;width: 0%;height: 2px;background-color: #4e28db;content: '';transition: ease .7s width;}
.s_06 .wr_txt_act:before{width: 100%;}
.wr_txt61:after{position: absolute;top: 0;left: 0;z-index: 2;width: 0%;height: 2px;background-color: #4e28db;content: '';transition: ease .7s width;}
.wr_txt61_act:after{width: 100%;}
.s_06 .col{max-width: 100%;}
/*.s_06 .item{width: 100%;}*/
.s_06 .item1{width: 10%;color: #4e28db;
font-size: calc((100vw - 320px)/(1920 - 320) * (48 - 18) + 18px);
font-family: 'Montserrat',Arial,sans-serif;line-height: 1.2;font-weight: 400;margin: 0;padding: 0;}
.s_06 .item2{width: 42%;}.s_06 .item2 h2{color: #1a1a1a;font-family: 'Montserrat',Arial,sans-serif;line-height: 1.5;font-weight: 400;
font-size: calc((100vw - 320px)/(1920 - 320) * (48 - 18) + 18px);
margin: 0;padding: 0;}
.s_06 .item3{width: 30%;}.s_06 .item3 p {color: #1a1a1a;font-family: 'Montserrat',Arial,sans-serif;line-height: 1.75;font-weight: 500;
font-size:calc((100vw - 320px)/(1920 - 320) * (18 - 13) + 13px);
margin: 0;padding: 0;padding-top: 20px;}

.s_07{background-color: #fff;}
.s_07 .wr_txt{display: flex;justify-content: space-between;width: 92%;margin: 0 auto;position: relative;
padding-top: calc((100vw - 320px)/(1920 - 320) * (170 - 60) + 60px);
padding-bottom: 0;
}
.s_07 .col{max-width: 100%;}
.s_07 .item1{width: 40%;}
.s_07 .item1 p {color: #1a1a1a;font-family: 'Montserrat',Arial,sans-serif;line-height: 1.5;font-weight: 400;margin: 0;padding: 0;
font-size: calc((100vw - 320px)/(1920 - 320) * (46 - 18) + 18px);
padding-bottom: calc((100vw - 320px)/(1920 - 320) * (150 - 30) + 30px);
}
.s_07 .item1 span{color: #4e28db;}
.s_07 .item2{width: 40%;}
.s_07 .item2 img{width: 100%;height: auto;}

.s_01b{
padding-top: calc((100vw - 320px)/(1920 - 320) * (160 - 60) + 60px);
padding-bottom: calc((100vw - 320px)/(1920 - 320) * (110 - 40) + 40px);}
.s_01b .txt1{font-size: calc((100vw - 320px)/(1920 - 320) * (70 - 18) + 18px);}
.s_01b .item2 {max-width: 250px;}

.s_06a{background-color: #1a1a1a;
padding-bottom: calc((100vw - 320px)/(1920 - 320) * (120 - 30) + 30px);}
.s_06a .item1{color: #fff;font-weight: 300;}
.s_06a .item2 h2{color: #fff;font-weight: 300;}
.s_06a .item3 p{color: #fff;font-weight: 300;}
.wr_txt6a1:after{position: absolute;top: 0;left: 0;z-index: 2;width: 0%;height: 2px;background-color: #fff;content: '';transition: ease .7s width;}
.wr_txt6a1_act:after{width: 100%;}
.s_06a .wr_txt:before{background-color: #fff;}

.s_01c{background-color: #fff;
margin-top: calc((100vw - 320px)/(1920 - 320) * (60 - 20) + 20px);
padding-bottom: calc((100vw - 320px)/(1920 - 320) * (120 - 10) + 10px);
padding-top: 0;}
.s_01c .item2 a {cursor: pointer;transition: ease .3s opacity;color: #fff;font-weight: 500;opacity: 1;text-decoration: none;border-bottom: 1px solid rgb(255, 255, 255);}
.s_01c .item2 a:hover{text-decoration: none;opacity: .7;}
.s_01c .txt1{
font-size: calc((100vw - 320px)/(1920 - 320) * (70 - 16) + 16px);}
.s_01c .txt2{
font-size: calc((100vw - 320px)/(1920 - 320) * (16 - 13) + 13px);
font-weight: 500;max-width: 270px;margin: 40px auto;}
.s_01c .item2 {max-width: 400px;background-color: #4e28db;position: absolute;top: 0;right: 0;border-radius: 15px 0 0 15px;width: 100%;height: auto;z-index: 2;padding: 0;}

.s_08{height: auto;background-color: #4e28db;
padding-top: calc((100vw - 320px)/(1920 - 320) * (130 - 40) + 40px);
padding-bottom: calc((100vw - 320px)/(1920 - 320) * (130 - 40) + 40px);
}.s_08 .txt1{text-align: center;
padding-bottom: calc((100vw - 320px)/(1920 - 320) * (70 - 20) + 20px);}
.s_08 .wr_txt{display: flex;justify-content: space-around;width: 100%;margin: 0 auto;flex-wrap: wrap;}
.s_08 .col{max-width: 100%;width: 92%;}
.s_08 .item{width: 100%;max-width: 580px;border: 2px solid #fff;color: #fff;text-align: center;background-color: #4e28db;transition: ease .3s all;cursor: pointer;margin: 0;padding: 0;
margin-top: calc((100vw - 320px)/(1920 - 320) * (20 - 10) + 10px);
margin-bottom: calc((100vw - 320px)/(1920 - 320) * (20 - 10) + 10px);
}
.s_08 .item:hover{background-color: #fff;color: #1a1a1a;}
.s_08 .item h2{margin: 0;padding: 0;line-height: 1;font-weight: 400;font-family: 'Montserrat',Arial,sans-serif;cursor: pointer;
padding-top: calc((100vw - 320px)/(1920 - 320) * (45 - 15) + 15px);
padding-bottom: calc((100vw - 320px)/(1920 - 320) * (45 - 15) + 15px);
font-size: calc((100vw - 320px)/(1920 - 320) * (26 - 13.5) + 13.5px);
}

.s_09{background-color: #1a1a1a;
padding-top: calc((100vw - 320px)/(1920 - 320) * (130 - 40) + 40px);
padding-bottom: calc((100vw - 320px)/(1920 - 320) * (90 - 30) + 30px);
}
.s_09 .txt1{padding-bottom: calc((100vw - 320px)/(1920 - 320) * (80 - 20) + 20px);}
.s_09 .item{width: calc(100% / 2 - 30px);margin: 15px;}
.s_09 .wr_txt{display: flex;justify-content: space-between;width: 92%;margin: 0 auto;flex-wrap: wrap;}
.foot_txt {color: #fff;font-family: 'Montserrat',Arial,sans-serif;line-height: 1.75;font-weight: 400;
font-size: calc((100vw - 320px)/(1920 - 320) * (18 - 13) + 12px);
margin: 0;padding: 0;padding-left: 3%;max-width: 430px;}
.survey{color: grey;font-family: 'Montserrat',Arial,sans-serif;line-height: 1.75;font-weight: 400;
font-size: calc((100vw - 320px)/(1920 - 320) * (13 - 10) + 10px);
margin: 0;padding: 0;max-width: 430px;}
.foot_txt a{color: rgb(255, 255, 255);font-family: 'Montserrat',Arial,sans-serif;text-decoration: none;border-bottom: 1px solid rgb(255, 255, 255);
box-shadow: inset 0px 0px 0px 0px rgb(255, 255, 255);opacity: 1;transition: ease .3s opacity;cursor: pointer;
}.foot_txt a:hover{opacity: .7;}
.survey a{color: grey;font-family: 'Montserrat',Arial,sans-serif;text-decoration: none;border-bottom: 1px solid grey;box-shadow: inset 0px 0px 0px 0px grey;opacity: 1;transition: ease .3s all;cursor: pointer;
}.survey a:hover{color: #fff;box-shadow: inset 0px 0px 0px 0px #fff;border-bottom: 1px solid #fff;}
.input7,.textarea7{outline: none;
padding-left: 0;
padding-right: 0;
border:none;
background-color: transparent;
border-radius: 0;
color: #ffffff;
border-bottom: 1px solid #ffffff;
font-size: calc((100vw - 320px)/(1920 - 320) * (18 - 13) + 13px);
font-weight: 400;
display: block;width: 90%;margin: 15px 0;transition: ease .3s border-bottom;}.input7{height: calc((100vw - 320px)/(1920 - 320) * (60 - 45) + 45px);}
.textarea7{height: calc((100vw - 320px)/(1920 - 320) * (110 - 70) + 70px);}
.input7:hover,.textarea7:hover{border-bottom: 1px solid #ccc;}

.result{opacity: 0;overflow: hidden;height: 0;}
.modal_form44{position: relative;}
.modal_form_act{filter: blur(1px);position: relative;overflow: hidden;}
.modal_sub{display: none;}
.modal_sub_act{display: flex;z-index: 2;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.75);
font-size: calc((100vw - 320px)/(1920 - 320) * (30 - 15) + 15px);
text-align: center;padding-top: 30px;color: #fff;justify-content: center;align-items: center;}
.iti {width: 100%;}


.s_10{background-color: #1a1a1a;
padding-top: calc((100vw - 320px)/(1920 - 320) * (30 - 15) + 15px);
padding-bottom: calc((100vw - 320px)/(1920 - 320) * (30 - 15) + 15px);border-top: 1px solid grey;text-align: center;
}

.input4{max-width: 990px;margin-left: auto;margin-right: auto;width: 100%;}
.modal_title{color: #fff;font-family: 'Montserrat',Arial,sans-serif;line-height: 1.5;font-weight: 300;
font-size: calc((100vw - 320px)/(1920 - 320) * (28 - 15) + 15px);
margin: 0 auto;padding: 0;max-width: 990px;}
.remodal{padding-top: 3%;padding-bottom: 3%;min-height: 97vh;display: flex;align-items: center;justify-content: center;}
.remodal form{padding: 0 15px;position: relative;}

.remodal .wr_btn{margin-left: auto;margin-right: auto;margin-bottom: 30px;}
.remodal .wr_txt{display: flex;justify-content: space-between;max-width: 990px;width: 100%;margin: 0 auto;flex-wrap: wrap;}
.remodal .item{width: calc(100% / 2 - 30px);margin: 15px;text-align: left;}
.remodal .item ul{color: #fff;font-family: 'Montserrat',Arial,sans-serif;line-height: 1.5;font-weight: 300;
font-size: calc((100vw - 320px)/(1920 - 320) * (13 - 10) + 10px);
margin: 0;padding: 0;max-width: 430px;list-style-type: none;}
.remodal .item li{color: #fff;font-family: 'Montserrat',Arial,sans-serif;line-height: 1.5;font-weight: 300;
font-size: calc((100vw - 320px)/(1920 - 320) * (13 - 10) + 10px);
margin: 0;padding: 0;max-width: 430px;list-style-type: none;margin-top: 1%;}
.remodal .item p{color: #fff;font-family: 'Montserrat',Arial,sans-serif;line-height: 1.5;font-weight: 300;
font-size: calc((100vw - 320px)/(1920 - 320) * (13 - 10) + 10px);
margin: 0;padding: 0;max-width: 430px;}
.s_07 .item1 span a{color: #4e28db;border-bottom: 1px solid #4e28db;text-decoration: none;transition: ease .3s all;cursor: pointer;opacity: 1;}
.s_07 .item1 span a:hover {color: #1a1a1a;border-bottom: 1px solid #1a1a1a;text-decoration: none;opacity: .7;}

.wr_mnu{position: fixed;z-index: 998;top: -100vh;left: 0;width: 100%;height: 100vh;overflow: hidden;overflow-y: scroll;transition: ease .3s all;background-color: #fff;display: flex;align-items: center;}
.wr_mnu_act{top: 0;padding: 30px 0;}.mnu{width: 100%;text-align: center;overflow-y: visible;margin: 0 auto;height: auto;}/*.mnu_s{width: 100%;text-align: center;overflow-y: visible;margin: 0 auto;height: auto;}*/
.wr_mnu span{display: block;width: 100%;height: 8vh;min-height: 30px;}
.wr_mnu a{color: #1a1a1a;font-family: 'Montserrat',Arial,sans-serif;line-height: 1.5;font-weight: 300;cursor: pointer;transition: ease .3s all;border-bottom: 1px solid rgba(0,0,0,.0);
font-size: calc((100vw - 320px)/(1920 - 320) * (40 - 22) + 22px);}
.wr_mnu a:hover{color: #4e28db;border-bottom: 1px solid #4e28db;}.wr_mnu .a_mnu_act{color: #1a1a1a;opacity: .7;cursor: auto;border-bottom: 1px solid #1a1a1a;}.wr_mnu .a_mnu_act:hover{color: #1a1a1a;border-bottom: 1px solid #1a1a1a;opacity: .7;cursor: auto;}
.body_100vh{height: 100vh;width: 100%;overflow: hidden;}
.wr_btn3{position: fixed;bottom: 0;left: 0;z-index: 996;background-color: #5733e8;color: #fff;font-family: 'Montserrat',Arial,sans-serif;line-height: 1;box-shadow: rgba(0, 0, 0, 0.4) 0px -1px 3px;width: 100%;}
.wr_txt_btn3{display: flex;justify-content: space-between;margin: 0 auto;max-width: 800px;width: 85%;align-items: center;}
.txt_btn3{color: #ffffff;
    font-size: 16px;line-height: 1.5;
    font-family: 'Montserrat',Arial,sans-serif;font-weight: 400;max-width: 70%;}
.btn3{border-radius: 50px;width: 100%;max-width: 180px;padding: 9px 10px;text-align: center;
    font-family: Montserrat,Arial,sans-serif;color: #4e28db;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    font-weight: 500;transition: ease .3s all;margin: 15px 0;cursor: pointer;
    text-transform: uppercase;}.btn3:hover{background-color: #4e28db;color: #ffffff;border: 1px solid #ffffff;}
.t654__icon-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    z-index: 1;
    padding: 5px;
    transition: opacity ease-in-out .3s;
}.t654__icon-close:hover {
    opacity: .7;
}
.wr_btn2{position: fixed;bottom: 20px;left: 20px;width: 240px;height: auto;text-align: center;border: 1px solid #5733e8;border-radius: 5px;background-color: #5733e8;color: #fff;transition: ease .3s all;
font-size: 13px;text-transform: uppercase;padding: 9px 20px;z-index: 995;font-weight: 500;cursor: pointer;font-family: 'Montserrat',Arial,sans-serif;line-height: 1;}.wr_btn2:hover{background-color: #fff;color: #1a1a1a;}
.wr_burger{position: fixed;z-index: 999;top: 0;right: 0;width: 105px;height: 85px;background-color: #fff;}
.burger {
    width: 28px;
    height: 20px;
    margin-top: -10px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;right: 40px;top:40px;position: absolute;
}
.burger span {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    height: 3px;background-color:#1a1a1a;
}
.burger span:nth-child(1) {
    top: 0;
}.burger span:nth-child(2), .burger span:nth-child(3) {
    top: 8px;
}
.burger span:nth-child(4) {
    top: 16px;
}
.opened span:nth-child(2) {
    transform: rotate(45deg);
}
.opened span:nth-child(3) {
    transform: rotate(-45deg);
}
.opened span:nth-child(1),.opened span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%;
}
.s_05 .txt05 a{white-space: nowrap;border-bottom: 1px solid #fff;color: #fff;opacity: 1;transition: ease .3s opacity;}.s_05 .txt05 a:hover{opacity: .7;}
.s_04 .btn_s02,.s_01a .btn_s02{background-color: #1a1a1a;border-color: #1a1a1a;color: #fff;}.s_04 .btn_s02:hover,.s_01a .btn_s02:hover{background-color: #fff;border-color: #1a1a1a;color: #1a1a1a;}
.dn{display: none;}
.dn2{display: none;}.remodal-wrapper_act:after{display: none;}
/*.wr_burger{display: none;}*/
@media only screen and (max-width: 1200px){.s_09 .input7, .s_09 .textarea7{width: 100%;}.s_09 .item {width: calc(100% - 30px);text-align: center;margin: 0 auto;}.s_09 .foot_txt{text-align: center;margin: 0 auto;}
.s_01 .item1,.s_01 .item2,.s_01a .item1,.s_01a .item2,.s_01b .item1,.s_01b .item2{max-width: 100%;}
.s_01c .item2{max-width: 100%;position: relative;background-color: #fff;}.s_01c .txt2{color: #1a1a1a;}.s_01c .item2 a{color: #1a1a1a;border-bottom: 1px solid #1a1a1a;}
}
@media only screen and (max-width: 1000px){.s_04 .item{width: calc(100% - 60px);max-width: 380px;}.item_d{display: none;}.s_04 .txt3{text-align: center;margin: 0 auto;}}
@media only screen and (max-width: 950px){.wr_btn2,.wr_btn3{display: none;}}
@media only screen and (max-width: 900px){.wr_burger{width: 71px;height: 55px;}.burger{right: 20px;top:25px;}.remodal .item{width: calc(100% - 30px);}.s_07 .item2{display: none;}.s_07 .item1{width: 100%;}}
@media only screen and (max-width: 700px){.s_06 .item3{width: 100%;}.s_06 .wr_txt{flex-wrap: wrap;}.s_06 .item2{width: 90%;}.s_06 .item1{width: 10%;line-height: 1.5;}}
@media only screen and (max-width: 480px){.s_04 .item{width: calc(100%);margin-right: 0;margin-left: 0;}.video{border-radius: 5px;}.imgbg04{border-radius: 10px;}.wr_burger{width: 53px;height: 45px;}.burger{right: 11px;top:22px;}}
@media only screen and (max-width: 320px){.s_05 .txt05{text-align: center;}}